################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieRentalTest/bin
/MovieRentalTest/obj
/MovieRental/bin
/MovieRental/obj
